*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items:center;
    min-height: 8vh ;
    background-color:black
}

.Logo{
    color:beige;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: whitesmoke
}

.nav-links a{
    color:beige;
}